.registration-box {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.input-box {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #F0F0F0;
    margin-top: 8px;
}

.select-box {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #F0F0F0;
    margin-top: 8px;
}

.input-group {
    text-align: left;
    margin-bottom: 16px;
    font-size: 14px;
}

.adjacent-input-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 95%;

}